langchain==0.3.25
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-core==0.3.59
chromadb
sentence-transformers
torch
streamlit
python-dotenv
pypdf
