streamlit==1.45.1
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.59
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
langchain-groq==0.3.2
faiss-cpu==1.9.0
sentence-transformers==3.4.1
pypdf==5.4.0
python-dotenv==1.1.0
huggingface_hub==0.30.2
